<!DOCTYPE html>
<html lang="en">
<head>
    <title>Testemunho</title>
    <style>
        .S1yellow {
          min-width: 100%;
          min-height: 100svh;
          background: #0BE3A3;
        }
        .flexArch{
          margin-left: 80px;
          display: flex;
          flex-direction: column;
          display: flex;
      flex-wrap: wrap;
      gap: 20px;
      flex-grow: 0;
      flex-shrink: 1;
        }
      .small-p{
       
        display: inline-block;
        color: #303036;
font-size: 16px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: normal;
      }
      .small-g{
        color: #0BE3A3;
font-size: 16px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: normal;
      }
      .lt-g{
        margin-left: 50px;
      }
      .lt-p{
        margin-left: 90px;
      }
        .s2y {
          position: relative;
          width: 100%;
          min-height: 100vh;
          min-height: 100svh;
          background: #FFFF;
        }
      
      
        .divsty h1 {
          color: #303036;
          font-size: 92px;
          font-family: Montserrat;
          font-weight: 300;
          line-height: 85px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
      
        .divarty {
          min-width: 459px;
          min-height: 123px;
        }
      
        .divarty h1 {
          color: #303036;
          font-size: 45px;
          font-family: Montserrat;
          font-weight: 300;
          line-height: 54px;
          margin: 0;
          text-align: left;
        }
        .grid-cont {
  display: grid;
  
  grid-template-columns: repeat(3, 1fr);
  margin-left: 107px;
  margin-top: 50px;
  grid-gap: 20px;
  grid-auto-rows: minmax(100px, auto);
margin-right: 100px;
  grid-auto-flow: dense; 
  
}
.conta:hover {
  transform: scale(1.05); /* Increase the size using scale transformation */
}
@media (max-width: 900px) {
  .grid-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .flexArch{
    margin: 0;
    padding: 0;
  }
  #desaparece{
    display: none;
  }
  .grid-p {
    min-width: auto;
    margin: auto;
    padding: 0;
  }
}

@media (max-width: 600px) {
  .grid-cont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 50px;
    margin-top: 30px;
  }
  .flexArch{
    margin: 0;
    padding: 0;
  }
  #desaparece{
    display: none;
  }
  .grid-p {
    min-width: auto;
    margin: auto;
    padding: 0;
  }
}


        .conta {
          min-width: 359px;
         
          transition: transform 0.3s;
  transform-origin: top left;
        }
      .cont-7{
        grid-column: 2/-1;
        grid-row: 3/5;

      }
        .cont-1, .cont-3, .cont-4, .cont-5, .cont-6, .cont-7, .cont-8{
          border-top: 3px solid #333;
          border-right: none;
          border-bottom: none;
          border-left: none;
        }
      
        .cont-2 {
        background: #0BE3A3;
        border: none !important;
        }
        .cont-4 , .cont-8{
        background: #0BE3A3;
        border: none !important;
        max-width: max-content;
        }
      
        .cont-4 {
          grid-column: 1/3;
          grid-row: 2/3;
        }
      
        .cont-4 {
          min-width: 270px;
        }
      
        .cont-1 article, .cont-3 article, .cont-5 article {
          color: #303036;
          font-size: 30px;
          font-family: Montserrat;
          line-height: 40px;
        }
      
        .cont-2 article {
          color: #FDFAFF;
          font-size: 30px;
          font-family: Montserrat;
          line-height: 40px;
        }
      
        .cont-1 .identidade, .cont-3 .identidade, .cont-5 .identidade {
          position: relative;
          color: #303036;
          font-size: 16px;
          font-family: Montserrat;
          font-weight: 700;
        }
      
        .cont-2 .identidade {
          position: relative;
          color: #FDFAFF;
          font-size: 16px;
          font-family: Montserrat;
          font-weight: 700;
        }
      
        .cont-2 .dataa {
          color: #FDFAFF;
        }
      
        .cont-2 .hastags {
          color: #FDFAFF;
        }
      
        .identidade,
        .dataa {
          display: inline-block;
          /* Additional styling properties if needed */
        }
      
        .dataa {
          margin-left: 50px;
        }
      
        .cont-4 h8 {
          color: #303036;
          font-size: 30px;
          font-family: Montserrat;
          line-height: 40px;
        }
      
        .image-container {
          position: relative;
          margin-top: 30px;
          overflow: hidden;
        }
      
        .image-container img {
          min-width: 100%;
          display: block;
          min-height: 271px;
        }
.contas{
  min-width: 334px;
  color: #303036;
font-size: 30px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
line-height: 40px;
}
.grid-p{
  position: relative;
  margin-top: 61px;
display: flex;
flex-direction: column;
width: 1320px;
margin-left: 101px;


}
.iten{
min-height: 100px;

  flex-grow: 1;
  justify-content: center;
border-left: none;
border-right: none;
border-bottom: none;
border-top: 3px solid #333;
}
.iten div:first-of-type{
  color: #303036;
font-size: 22px;
font-family: Montserrat;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
.iten p:last-of-type{
  color: #303036;
font-size: 18px;
font-family: Montserrat;
font-style: normal;
font-weight: 700;
line-height: normal;
}
@media (max-width: 900px) {
  .grid-p {
    width: auto;
    margin-left: 50px;
    min-height: 500px;
  }
}

@media (max-width: 600px) {
  .grid-p {
    width: auto;
    text-align: left;
    margin-left: 50px;
    min-height: 500px;
  }
}



@media (max-width: 900px) {
  .iten {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .iten {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
}

  .tifw:hover {
    transform: scale(1.1);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  .tifw:last-child:hover {
    max-width: 23.79%;
    transform: scale(1.0);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  
@media (max-width: 900px) {
  .iten div:first-of-type,
  .iten p:last-of-type {
    margin: 10px;
  }
}

@media (max-width: 600px) {
  .iten div:first-of-type,
  .iten p:last-of-type {
    margin: 10px;
  }
}
.i-nav{
  min-height: 75px;
}
#first{
  grid-column: 1/3;
  grid-row: 1/2;


}
#second{
  grid-column: 1/3;
  grid-row: 2/4;
}
.navigation a{
  color: #303036;
font-size: 20px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.re {
    position: absolute;
    top: -10px; /* Adjust the top position to move it up */
    left: 80px; 
    background-color: #C981F5;
    border: 1px solid #ccc; /* Add a border to the results */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a box shadow to the results */
    padding: 15px; /* Add some padding to the results */
    z-index: 1; /* Ensure the results are on top of other elements */
    width: 150px; /* Adjust the width of the results container */
    height: 40px;
    word-break: break-all;
  }

  /* Style for individual result items (li elements) */
  .re ul {
    list-style: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
  }

  .re ul li {
    cursor: pointer; /* Change the cursor to indicate interactivity */
  }

  /* Style for the selected result item */
  .re ul li:hover {
    background-color: #f2f2f2; /* Change the background color of the hovered item */
  }
.hal p{
  color: #FDFAFF;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 133.333% */

}
.hal .small-p{
  color: #FDFAFF;

}
.navigation a:hover{
  color: #303036;
font-size: 20px;
font-family: Montserrat;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.areaarch a:focus {
  outline: none;
  text-decoration: none !important;
      color: inherit;
}
.image-grid {
  background-image: url("images/background_photo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation{
  position: absolute;
display: flex;
  flex-wrap: wrap;

  justify-content:flex-start;
  align-items: flex-start;
  bottom: 0;
  flex: 1;
  width: 100%;
}
.tifw{
  display: flex;justify-content: center;align-items: center;
    width: 25%;
  color: #303036;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

a, li {
      text-decoration: none !important;
    }
    a:hover, li:hover{
      text-decoration: none !important;
    }
    a:visited , li:hover{
      text-decoration: none !important;
    }
      </style> 
    <%- include("../views/partials/head.ejs") %>
    
</head>
<body>
    <div class="S1yellow">
      <header>
        <%- include("../views/partials/navBar.ejs") %>
    </header>
    <div class="flexArch">
        <div class="divsty">
          <h1 class="sty">NEWS & EVENTS</h1>
        </div>
        <div class="divarty">
          <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus laoreet ex tincidunt consectetur. Vivamus consequat vestibulum dictum.Lorem500 Lorem500</h1>
        </div>
    </div>
    <div class="fS1" style="display: flex; position: absolute; bottom: 0; flex-direction: row; width: 100%; min-height: 100px;">
      <div class="tifw if-1" style="background: #76B7E3;"><a href="/lab" style="text-decoration: none;outline: none;color: inherit;"> Co-Culture Space / Lab</a></div>  
     <div class="tifw if-2" style="background: #C981F5; "> <a href="/skate" style="text-decoration: none;outline: none;color: inherit;"> Glocal Coffee Breaks</a></div>
      <div class="tifw if-3" style="background: #FF78A9;"><a href="/#team-section" style="text-decoration: none;outline: none;color: inherit;">Intercultural Workshops</a></div>
      <div class="tifw if-4" style="background: #303036;;color: #FDFAFF;
      font-family: Montserrat;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;"><a href="#wow" style="text-decoration: none;outline: none;color: inherit;"> Reports</a></div>
      <div class="tifw i-nav" class="areaarch" >
        <form action="searche" method="get">
          <svg xmlns="http://www.w3.org/2000/svg" width="170" height="34" viewBox="0 0 136 34" fill="none" style="position: relative;">
            <path d="M119.031 1H16.8549C8.09849 1 1 8.13546 1 16.9375C1 25.7395 8.09849 32.875 16.8549 32.875H119.031C127.788 32.875 134.886 25.7395 134.886 16.9375C134.886 8.13546 127.788 1 119.031 1Z" stroke="#303036" stroke-width="2"/>
            <foreignObject x="10" y="5" width="90" height="24">
              <input autocomplete="off" type="text" id="searchInput2" style="border: none; background: transparent; min-width: 100px; outline:none" name="query2" placeholder="Search"/>
            
            </foreignObject>
            <foreignObject x="120" y="8" width="20" height="20">
              <button style="background: none; border: none; position: absolute; top: 0; right: 9px;" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none" style="left: -1px; position: absolute;">
                  <path d="M7.87703 14.3088C11.3364 14.3088 14.1408 11.4898 14.1408 8.01244C14.1408 4.53505 11.3364 1.71606 7.87703 1.71606C4.41766 1.71606 1.61328 4.53505 1.61328 8.01244C1.61328 11.4898 4.41766 14.3088 7.87703 14.3088Z" stroke="#303036" stroke-width="2.222" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M15.7064 15.8828L12.3008 12.4595" stroke="#303036" stroke-width="2.222" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </button>
            </foreignObject>
          </svg>
        </form>    
        <div class="re" style="display: none; "><ul id="results22" style=""></ul></div>   
      </div>
    </div>

    </div>
    <div class="s2y">
      
        <div class="grid-cont">
<a href="arch/<%=array[0]._id %>">
  <div class="conta cont-1" >
    <article><%= array[0].title %></article>
    <div class="identidade"><%= array[0].author %></div>
    <div class="dataa"><%= array[0].date %></div>
    <div class="hastags">#lol</div>
  </div>  
</a>

            <div class="conta cont-2">
              <a href="arch/<%=array[1]._id %>" style="text-decoration: none; color: inherit;">
                <article><%= array[1].title %></article>
                <div class="identidade"><%= array[1].author %></div>
                <div class="dataa"><%= array[1].date %></div>
                <div class="hastags">#lol</div>
       </a>
            </div>
            <a href="arch/<%=array[2]._id %>" style="text-decoration: none; color: inherit;">

            <div class="conta cont-3">
                <article><%= array[2].title %></article>
                <div class="identidade"><%= array[2].author %></div>
                <div class="dataa"><%= array[2].date %></div>
                <div class="hastags">#lol</div>
            </div>
            </a>
           

            <div class="conta cont-4">
              <a href="arch/<%=array[3]._id %>" style="text-decoration: none; color: inherit;">
                <h8><%= array[3].title %></h8>
                <div class="info" style="color: #212121;
                font-size: 16px;
                font-family: Montserrat;
                font-weight: 300;justify-content: space-between; display: flex; margin-top: 46px;">
                    <div class="identidade"><%= array[3].author %></div>
                    <div class="dataa"><%= array[3].date %></div>

                </div>
              </a>
                <div class="hastags" style="color: #FDFAFF;">#lol</div>
                <div class="image-container">
                    <img id="desaparece" src="images/LAY.png" style="
                    width: 266px 
                    ;
                    MAX-height: 714px;" alt="">
                </div>
            </div>
         

            <div class="conta cont-5">
              <a href="arch/<%=  array[4]._id %>" style="text-decoration: none; color: inherit;">
                <article><%= array[4].title %></article>
                <div class="flexboxx" style="display: flex; flex-direction: rows; justify-content: flex-end;">
                    <div class="identidade"><%= array[4].author %></div>
                    <div class="dataa"><%= array[4].date %></div>
                    <div class="hastags">#lol</div>
                </div>
                
</a>
            </div>
          

            <div class="contas conta cont-6">
              <a href="arch/<%=  array[5]._id %>" style="text-decoration: none; color: inherit;">
              <p><%= array[5].title %></p>
              <div class="di" style="display: flex; flex-direction: column; gap: 2px;">
                <span class="small-p" style="margin: 0;padding: 0;"><%= array[5].author %> <span class="lt-p"><%= array[5].date %></span></span>
              <span class="small-g"  style="margin: 0;padding: 0; list-style: none;">#status <span class="lt-g">#events</span></span>
              
              </div>
            </a>  
  
            </div>
              
              <div class="contas conta cont-7 image-grid " style="display: grid; grid-template-columns: 1fr 1fr; row-gap: 50px; column-gap: 50px;">
                
                <div class="hal hal1 conta">
                  <a  href="arch/<%=array[6]._id %>" style="text-decoration: none; color: inherit;">
                  <p><%= array[6].title %></p>
              
                  <div class="di" style="display: flex; flex-direction: column; gap: 2px;">
                    <span class="small-p" style="margin: 0;padding: 0;"><%= array[6].author %><span class="lt-p">25/07/2022</span></span>
                    <span class="small-g"  style="margin: 0;padding: 0; list-style: none;">#status <span class="lt-g">#events</span></span>
                  </div>
                </a>
                </div>
                <div class="hal hal2 conta"> <a href="arch/<%=  array[7]._id %>" style="text-decoration: none; color: inherit;"><p><%=  array[7].title %></p>
                 
                  <div class="di" style="display: flex; flex-direction: column; gap: 2px;">
                    <span class="small-p" style="margin: 0;padding: 0;"><%= array[7].title %> <span class="lt-p"><%= array[7].date %></span></span>
                    <span class="small-g"  style="margin: 0;padding: 0; list-style: none;">#status <span class="lt-g">#events</span></span>
                  </div>
                  </a>
                  </div>
                <div class="hal hal3 conta" style="border-top: 3px solid #FDFAFF;">      <a href="arch/<%=  array[8]._id %>" style="text-decoration: none; color: inherit;"><p><%= array[8].title %></p>
            
                  <div class="di" style="display: flex; flex-direction: column; gap: 2px;">
                    <span class="small-p" style="margin: 0;padding: 0;"><%= array[8].author %> <span class="lt-p"><%= array[8].date %></span></span>
                    <span class="small-g"  style="margin: 0;padding: 0; list-style: none;">#status <span class="lt-g">#events</span></span>
                  </div>
                  </a>
                  </div>
                <div class="hal hal4 conta"> <a href="arch/<%=  array[9]._id %>" style="text-decoration: none; color: inherit;"><p><%= array[9].title %></p>
  
                  <div class="di" style="display: flex; flex-direction: column; gap: 2px;">
                    <span class="small-p" style="margin: 0;padding: 0;"><%= array[9].author %> <span class="lt-p"><%= array[9].date %></span></span>
                    <span class="small-g"  style="margin: 0;padding: 0; list-style: none;">#status <span class="lt-g">#events</span></span>
                  </div>
                  </a>
                  </div>
                
                  
              </div>
            <div class="contas conta cont-8 "> <a href="arch/<%=  array[10]._id %>" style="text-decoration: none; color: inherit;"><p><%= array[9].title %></p>
            <div class="di" style="display: flex; flex-direction: column; gap: 2px;">
              <span class="small-p" style="margin: 0;padding: 0;"><%= array[10].author %> <span class="lt-p"><%= array[10].date%></span></span>
              <span class="small-g"  style="margin: 0;padding: 0; list-style: none;">#status <span class="lt-g">#events</span></span>
            </div>
          </a>
            </div>
    
                  
        </div>
        <div class="grid-p" id="wow">

          <% report.forEach((report) => { %>
            
            <div class="iten iten-1" style="justify-content: space-between;display:flex; flex-direction:row;flex-wrap: wrap;flex-grow: 1; flex-shrink: 1;margin: 0;padding: 0;">
              <div style="max-width: 642px;" >
                <div class="flexfich" style="color: #303036;
                font-family: Montserrat;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;display: flex;flex-direction: column; gap: 5px;">
                  <p id="titficheiro" style="margin: 0;padding: 0;"><strong><%=report.title%></strong></p>
                  <p id="dataficheiro" style="margin: 0;padding: 0;"><%=report.data%></p>
                  <p id="dataficheiro" style="margin: 0;padding: 0;">Prepared by: <%=report.name%></p>
                </div>
                <p style="display: none;" id="ficheiro"><%=report.file%></p>
                <p style="display: none; "id="contentficheiro"><%=report.content%></p>
              </div>
              <div style="margin-top: 10px; left: 70%; position: absolute;"><strong>Abrir anexo</strong></div>
              <div style="align-self: flex-start; margin-top: 10px;" >
                <button class="clica" style="border:none;padding: 0; margin: 0; list-style: 0; background-color: transparent;"><img src="images/Componente 1 – 8.png" alt="" srcset=""></button>
              </div>
            </div>
            <%})%>
            
          
        </div>
        <%- include("../views/partials/footer.ejs") %>
    </div>
    <script>
let buttons = document.getElementsByClassName("clica");

for (let index = 0; index < buttons.length; index++) {
  const button = buttons[index];

  button.addEventListener("click", function(event) {
    event.preventDefault();
    let paraSubstituir = button.parentElement.parentElement;

    console.log("Button clicked:", button);
    console.log("Element to replace:", paraSubstituir);

    if (paraSubstituir.classList.contains("open")) {
      console.log("Closing item...");
      closeItem(paraSubstituir);
    } else {
      console.log("Opening item...");
      openItem(paraSubstituir, index);
    }
  });
}

function openItem(item, index) {
  item.classList.add("open");
  item.dataset.previousContent = item.innerHTML;
  let reportTitle = item.querySelector("#titficheiro").textContent;

  let reportFich = item.querySelector("#ficheiro").textContent;
    let reportFile = item.querySelector("#dataficheiro").textContent;
    let reportContent = item.querySelector("#contentficheiro").textContent;
  var htmlString = `
  <div class="iten iten-${index + 1}" style="color: #303036;
font-family: Montserrat;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 181.818% */;position: relative;display: grid; grid-auto-columns: minmax(102px, auto);grid-auto-rows: (100px,auto);grid-template-columns: 1fr 1fr 1fr; margin: 0; padding: 0;">
    <div id="first" style="color: #303036; text-align: left;font-size: 35px; font-family: Montserrat; font-style: normal; font-weight: 400; line-height: 40px;min-width: 385px; min-height: 99px;">
      <h8><strong>${reportTitle}</strong></h8>
    </div>
    <div id="second" class="textt" style="grid-row:3/4; grid-column:1/2;color: #303036; text-align: left;font-size: 18px; font-family: Montserrat; font-style: normal; font-weight: 400; line-height: 25px; min-width: 385px; min-height: 99px;">
      <p> ${reportFile}</p>
    </div>
    <div id="third" class="textt" style="grid-row:2/3; grid-column:1/2;color: #303036; text-align: left;font-size: 18px; font-family: Montserrat; font-style: normal; font-weight: 400; line-height: 25px; min-width: 385px; min-height: 99px;">
      <p> ${reportContent}content</p>
    </div>
    <div>
      <div>
        <p style="margin-left: 20px;margin-top:90px;grid-row:1/2; grid-column:2/3;"><span class="small-g">#status<span class="lt-g">#events</span></p>
      </div>
    </div>

    <button class="clicaF" style="background-color: transparent;border:none; margin: 0;position: absolute;right: 0; top: 0;">
      <img src="images/Caminho 91.png" alt="" srcset="">
    </button>

    <div style="display: flex; gap: 20px;flex-direction: row;align-items: center;margin: 0; padding: 0; list-style: none; grid-column: 3/-1; grid-row: 2/4;">
      <img src="images/Grupo 70 (1).png" alt="" srcset="">
      <div class="flexxxx" style="display: flex; flex-direction: column;">
        <p><a style="text-decoration: none; 
      color: inherit;" href="${reportFich}">Open</a></p>
        <p><a style="text-decoration: none; /* Remove underline */
      color: inherit;" href="${reportFich}" download>Download</a></p>
        <p><a style="text-decoration: none; /* Remove underline */
      color: inherit;" href=>Share</a></p>
    </div>
  </div>
  `;

  item.innerHTML = htmlString;

  let closeButton = item.getElementsByClassName("clicaF")[0];
  closeButton.addEventListener("click", function(event) {
    event.preventDefault();
    console.log("Closing item...");
    closeItem(item);
  });
}

function closeItem(item) {
  item.classList.remove("open");
  item.innerHTML = item.dataset.previousContent;

  let openButton = item.getElementsByClassName("clica")[0];
  openButton.addEventListener("click", function(event) {
    event.preventDefault();
    console.log("Opening item...");
    openItem(item);
  });
}
document.addEventListener("DOMContentLoaded", () => {
  const searchInput = document.getElementById("searchInput2");
  const searchResults = document.getElementById("results22");
  const resulBox = document.querySelector(".re");

  // Function to handle search and display results
  const handleSearch = async () => {
    const searchTerm = searchInput.value.toLowerCase();

    // Fetch the JSON data from the server
    const response = await fetch("/getNews");
    const allTitlesJSON = await response.json();

    // Filter the titles that match the search term
    const filteredNewsTitles = allTitlesJSON.newsTitles.filter((title) =>
      title.toLowerCase().includes(searchTerm)
    );

    const filteredEvTitles = allTitlesJSON.evTitles.filter((title) =>
      title.toLowerCase().includes(searchTerm)
    );

    // Combine all filtered titles into a single array
    const combinedFilteredTitles = [
      ...filteredNewsTitles,
      ...filteredEvTitles,
    ];

    // Clear previous search results
    searchResults.innerHTML = "";

    // Display up to 3 results
    for (let i = 0; i < Math.min(combinedFilteredTitles.length, 1); i++) {
      const title = combinedFilteredTitles[i];
      const li = document.createElement("li");
      li.innerText = title;
      searchResults.appendChild(li);
    }

    // Show or hide the resulBox based on search results and input value
    resulBox.style.display =
      searchTerm.length > 0 && combinedFilteredTitles.length > 0
        ? "block"
        : "none";
  };

  // Event listener for input field on input event
  searchInput.addEventListener("input", handleSearch);

  // Event listener for the mousedown event on searchResults
  searchResults.addEventListener("mousedown", (event) => {
    // Check if the clicked element is an li inside the ul
    if (event.target.tagName === "LI") {
      // Set the input field value to the clicked li's text content
      searchInput.value = event.target.textContent;
      // Hide the resulBox after selecting a result
      resulBox.style.display = "none";
      // Submit the form on selecting a result
      event.preventDefault();
      event.target.closest("form").submit();
    }
  });

  // Event listener to handle blur event on the searchInput
  searchInput.addEventListener("blur", () => {
    // Hide the resulBox when the input field loses focus
    resulBox.style.display = "none";
  });
});
</script>

    
</body>
</html>
